/*-----------------------------*\
 *  VARIABLES
\*-----------------------------*/

/*
    Misc
*/
$font-size-base: 20px;

$opacity-full: 1;
$opacity-primary: 0.87;
$opacity-secondary: 0.54;
$opacity-tertiary: 0.23;
$opacity-none: 0;

$url-CL-pattern-diamonds: 'assets/img/pattern-diamonds.png';

/*
    Colors
*/
$color-primary: #009688;

$color-primary-brighter: #00e6cf;
$color-primary-light: #e7f5f4;
$color-primary-grey: #cce2e0;
$color-primary-dark: #003330;
$color-primary-darker: #000808;

$color-accent: #d9264d;
$color-accent-brighter: #f20d3e;
$color-accent-dark: #6c1326;

$color-success: #187a27;
$color-failure: #f42011;

$color-white: rgba(255, 255, 255, $opacity-full);
$color-white-trans: rgba(255, 255, 255, $opacity-primary);
$color-black:rgba(0, 0, 0, $opacity-full);
$color-black-trans: rgba(0, 0, 0, $opacity-primary);

$color-CL-primary: #263347;

/*
    Breakpoints
*/
$brk-phone-vs-tablet-prtr: 600px;
$brk-tablet-prtr-vs-tablet-lnds: 900px;
$brk-tablet-lnds-vs-desktop: 1200px;
$brk-desktop-vs-big-desktop: 1800px;

@mixin for-phone-only {
  @media (max-width: $brk-phone-vs-tablet-prtr) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $brk-phone-vs-tablet-prtr) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $brk-tablet-prtr-vs-tablet-lnds) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: $brk-tablet-lnds-vs-desktop) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $brk-desktop-vs-big-desktop) { @content; }
}



/*-----------------------------*\
 *  TYPOGRAPHY
\*-----------------------------*/

// Actual font files are embedded as BASE64 in `fonts-woff[2].scss`

$font-calibre: Calibre,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans","Helvetica Neue", sans-serif;
$font-circularPro: Circular, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-family: $font-circularPro;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.3em;
}

h1 { font-size: $font-size-base * 3;    }
h2 { font-size: $font-size-base * 2.2;  }
h4 { font-size: $font-size-base * 1.2;  }

p {
  font-family: $font-calibre;
  font-size: $font-size-base * 0.8;
  line-height: 1.15em;
}

  

/*-----------------------------*\
 *  UTILITIES
\*-----------------------------*/

/*
    Fixed size variables
*/
$xs:  $font-size-base * 0.25; // extra small
$sm:  $font-size-base * 0.5;  // small
$md:  $font-size-base * 1;    // medium
$lg:  $font-size-base * 2;    // large
$xl:  $font-size-base * 4;    // extra large
$ul:  $font-size-base * 8;    // ultra large

/*
    Layout HTML helper classes
*/

// TODO delete

.columns-x2-centered {
  display: grid;

  @include for-phone-only {
    grid-template-rows: auto
                        auto;
    grid-template-columns: 1fr minmax(270px, 440px) 1fr;
    grid-template-areas:  'margin-l content-1 margin-r'
                          'margin-l content-2 margin-r';
  }

  @include for-tablet-portrait-up {
    grid-template-rows: auto
                        auto;
    grid-template-columns: 1fr minmax(270px, 440px) 1fr;
    grid-template-areas:  'margin-l content-1 margin-r'
                          'margin-l content-2 margin-r';
  }

  @include for-tablet-landscape-up {
    grid-template-rows: auto;
    grid-template-columns:
        1fr
        minmax(250px, 440px)
        minmax(80px, 1fr)
        minmax(250px, 440px)
        1fr;
    grid-template-areas: 'margin-l content-1 gutter-m content-2 margin-r';
  }
}

.columns-x3 {
  display: grid;
  grid-template-columns:
      minmax(133px, 260px)
      minmax(80px,  1fr)
      minmax(133px, 260px)
      minmax(80px,  1fr)
      minmax(133px, 260px);
  grid-template-areas: 'left gutter-l middle gutter-r right';
}

.ul-horizontal {
  list-style-type: none;
  
  li {
    display: inline;
  }
}

/*
    Applies the provided patterned image to the vertical side of the element to which this is included.

    Example:
    section {
      @include pattern(bottom, assets/img/dat-pattern.png)
    }

    @param {String} $verticalPosition Choice of vertical position of pattern. Can be `top` or `bottom`.
    @param {String} $patternUrl URL to the patterned image to be applied.
*/
@mixin pattern($verticalPosition, $patternUrl) {
  position: relative;
  z-index: 0;
  overflow: hidden;
  
    &::before {
      content: " ";
      display: block;
      width: 100%;
      height: 530px;
      position: absolute;
      background-size: auto;
      background-repeat: repeat-x;
      background-position-x: center;
      background-image: url($patternUrl);
      opacity: 1;
      z-index: -1;

      @if $verticalPosition == 'top' {
        top: -262px;
        transform: rotate(180deg);
      }

      @if $verticalPosition == 'bottom' {
        bottom: -262px;
      }
    }

}

/*
    Creates slanted (diagonal) edge effect to the element wherein it is included

    Example:
    section {
      @include slanted-edge(top, right, -10deg);
    }

    @param {String} $verticalPosition Choice of vertical edge. Can be `top` or `bottom`.
    @param {String} $horizontalPosition Choice of horizontal edge. Can be `left` or `right`.
    @param {Degrees} $verticalPosition The angle between the chosen edges. Can be positive or negative degrees.
*/
@mixin slanted-edge($verticalPosition, $horizontalPosition, $angle) {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transform: skewY($angle);
    
    $verticalPosition: 0;
    @if $horizontalPosition == 'right' { transform-origin: left  $verticalPosition; }
    @if $horizontalPosition == 'left'  { transform-origin: right $verticalPosition; }
  }
}

/*
    Button HTML helper classes
*/
.btn {
  display: inline-block;
  padding: ($font-size-base * 0.7) ($font-size-base * 1.4) ($font-size-base * 0.7) ($font-size-base * 1.4);
  border-radius: 50px;
  font-family: $font-calibre;
  font-size: $font-size-base * 0.7;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--outline {
  border: 1px solid rgba(255, 255, 255, $opacity-tertiary);
  transition: border 0.1s ease;
  transition: background-color 0.1s ease;

  &:hover {
    border-color: transparent;
    background-color: rgba(255, 255, 255, $opacity-tertiary);
    color: $color-white;
  }
}

.btn--full-width {
  width: 100%;
  text-align: center;
}

.btn--accent {
  background-color: $color-accent;
  color: $color-white;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $color-accent-brighter;
    color: $color-white;
  }
}



/*-----------------------------*\
 *  GLOBAL RULES
\*-----------------------------*/

* {
  margin: 0;
  padding: 0;
}

h1 a:not(.no-link-style),
h2 a:not(.no-link-style),
h3 a:not(.no-link-style),
h4 a:not(.no-link-style), 
h5 a:not(.no-link-style),
h6 a:not(.no-link-style),
p  a:not(.no-link-style) {
  border-bottom: $color-white-trans 0.05em solid !important;
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease;
  transition: border 0.1s ease;
}

a:not(.no-link-style):not(.btn) {
  margin-bottom: -0.125em; // counters the border-bottom offsetting
  border-bottom: 0.125em transparent solid;
  transition: color 0.1s ease;
  transition: border-color 0.15s ease;

  &:hover {
    border-bottom: 0.125em $color-accent-brighter solid !important;
    color: $color-white;
  }
}



/*-----------------------------*\
 *  PRODUCT PAGE
\*-----------------------------*/

/*
    Overall layout
*/
body {
  font-size: $font-size-base;

  section {
    max-width: $brk-tablet-lnds-vs-desktop - ($font-size-base * 2); // ($font-size-base * 2) offsets padding
    margin: 0 auto;
    padding-right: $font-size-base;
    padding-left: $font-size-base;

    @include for-phone-only {
      padding-right: $font-size-base / 2;
      padding-left: $font-size-base / 2;
    }
  }
}

/*
    Header (contains `Navbar` and `Hero` sections)
*/
header {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  // background-image: linear-gradient(-30deg, $color-primary 0%, $color-primary-brighter 80%); // default bleu
  // background-image: linear-gradient(-30deg, $color-primary 0%, #6694af 80%); // brighter default bleu
  background-image: linear-gradient(-30deg, #fff 0%, $color-primary 60%); // terquose with default bleu
  // background-image: linear-gradient(-30deg, #243949 0%, #517fa4 100%); // deheued bleu, better than mine
  // background-image: linear-gradient(-30deg, #d7d2cc 0%, #304352 100%); // silver powah
  // background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); // moshy pastel grayz
  // background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); // self-respec
  // background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); // hip pink-purp
  // background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); // dusk blue-purplez

  // background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  // background-blend-mode: multiply,multiply; // grey globe on links
}

/*
    Navbar section
*/
section.navbar {
  padding-top: $md;
  padding-bottom: $md;
  font-family: $font-calibre;
  font-size: 0.9em;
  color: $color-white-trans;

  .navbar--wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar--wrap--brand {
      a {
        display: flex;
        align-items: center;

        &:hover span {
          border-bottom: 0.1em $color-accent-brighter solid;
          color: $color-white;
        }

        img {
          margin-right: 0.25em;
          opacity: 0.9; // TODO delete when placeholder img is deleted
          filter: hue-rotate(155deg); // TODO delete when placeholder img is deleted
          transition: filter 0.1s ease;
        }

        span {
          margin-bottom: -0.1em;
          border-bottom: 0.1em transparent solid;
          font-family: $font-circularPro;
          transition: color 0.1s ease;
          transition: border-color 0.15s ease;
        }
      }
    }

    .navbar--wrap--main-links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        padding: 0.5em 1em 0.5em 1em;
      }
    }
  }
}

/*
    Hero section
*/
section.hero {
  padding-top: $xl;
  padding-bottom: $xl;
  color: $color-white;

  .hero--copy {
    position: relative;
    z-index: 6;

    .hero--copy--title-big {
      @include for-tablet-portrait-up { display: none; }
      @include for-tablet-landscape-up { display: inherit; }
    }

    .hero--copy--title-small {
      @include for-phone-only { display: inherit; }
      @include for-tablet-portrait-up { display: inherit; }
      @include for-tablet-landscape-up { display: none; }
    }
    
    .hero--copy--descr {
      max-width: $brk-phone-vs-tablet-prtr;
      margin-bottom: 2em;
      font-size: 1.1em;
      color: $color-white-trans;
    }
  }

  .js-polyhedron-container {
    position: absolute;
    z-index: 3;
    
    @include for-tablet-portrait-up {
      right: -160px;
      bottom: -300px;
      width: 600px;
      height: 600px;
    }

    @include for-tablet-landscape-up {
      right: -185px;
      bottom: -350px;
      width: 700px;
      height: 700px;
    }
    
    @include for-desktop-up {
      right: -210px;
      bottom: -400px;
      width: 800px;
      height: 800px;
    }
  }

  .js-polyhedron-container:before {
    content: "";
    display:block;
    position: absolute;
    background-color: rgba(255, 255, 255, $opacity-primary);
    z-index: 4;
    
    @include for-tablet-portrait-up {
      width: 400px;
      height: 400px;
      margin-top: calc((600px - 400px) / 2);
      margin-left: calc((600px - 400px) / 2);
      border-radius: 50%;
      filter: blur(90px);
    }
    
    @include for-tablet-landscape-up {
      width: 500px;
      height: 500px;
      margin-top: calc((700px - 500px) / 2);
      margin-left: calc((700px - 500px) / 2);
      border-radius: 50%;
      filter: blur(100px);
    }

    @include for-desktop-up {
      width: 600px;
      height: 600px;
      margin-top: calc((800px - 600px) / 2);
      margin-left: calc((800px - 600px) / 2);
      border-radius: 50%;
      filter: blur(110px);
    }
  }
}

/*
    Features section
*/
.features-backdrop {
  @include slanted-edge(bottom, left, -5deg);
  background: linear-gradient(-5deg, $color-primary-light, $color-white);
}

section.features {
  padding-top: calc(60px + 8vw);
  padding-bottom: calc(60px + 8vw);

  h2,
  h4,
  p {
    color: $color-black-trans;
  }

  .feat-wrap {
    :nth-child(1).feat-wrap--feat { grid-area: left;    }
    :nth-child(2).feat-wrap--feat { grid-area: middle;  }
    :nth-child(3).feat-wrap--feat { grid-area: right;   }

    .feat-wrap--feat--icon-bg {
      width: $font-size-base * 2.7;
      height: $font-size-base * 2.7;
      margin-bottom: $font-size-base * 1;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary;

      img {
        max-width: $font-size-base * 1.4;
        max-height: $font-size-base * 1.4;
      }
    }
  }
}

/*
    Pricing section
*/
section.pricing {
  padding-top: calc(14vw + 80px);
  padding-bottom: calc(14vw + 80px);
  color: $color-black-trans;

  .pricing--title {
    grid-area: left;
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 0;

      :nth-child(2) {
        color: rgba(0, 0, 0, $opacity-secondary);
      }
      
      :nth-child(3) {
        color: rgba(0, 0, 0, $opacity-tertiary);
        filter: blur(0.03em);
      }
    }
  }

  .pricing--price {
    grid-area: middle;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: $font-calibre;

    .pricing--price--wrap {
      display: inline-block;

      .pricing--price--wrap--plan {
        font-size: 1.8em;
      }

      .pricing--price--wrap--discl {
        float: right;
        font-size: 0.7em;
        color: rgba(0, 0, 0, $opacity-secondary);
      }
    }
  }

  .pricing--traits {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-calibre;
    font-size: 1.1em;

    .pricing--traits--trait {
      padding-top: 0.4em;
      padding-bottom: 0.4em;

      img {
        max-width: $font-size-base * 1.1;
        max-height: $font-size-base * 1.1;
        margin-right: 0.5em;
        opacity: $opacity-primary;
      }      
    }
  }
}

/*
    Threeds section
*/
.threeds-backdrop {
  @include slanted-edge(top, right, -5deg);
  background: $color-primary-dark;
}

section.threeds {
  padding-top: calc(60px + 8vw);
  padding-bottom: calc(60px + 8vw);
  font-family: $font-calibre;
  color: $color-white-trans;

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }

  .threeds--pros {
    grid-area: content-1;

    @include for-phone-only { margin-top: 16px; } // 60px - 44px form title's margin-bottom
    @include for-tablet-portrait-up { margin-top: 16px; } // 60px - 44px form title's margin-bottom
    @include for-tablet-landscape-up { margin-top: 0; }
    
    .threeds--pros--pro {
      margin-bottom: 1.8em;
      
      &:last-child {
        margin-bottom: 0;
      }

      img {
        float: left;
        max-width: $font-size-base * 2.2;
        max-height: $font-size-base * 2.2;
        margin-top: 0.25em;
        margin-right: 0.8em;
        opacity: $opacity-primary;
      }

      span {
        display:flex;
        font-size: 1.2em;
      }
    }
  }

  .threeds--explanation {
    grid-area: content-2;
    border-left: rgba(255, 255, 255, $opacity-primary) 0.5em solid;
    padding-left: 0.8em;

    @include for-phone-only { margin-top: $font-size-base * 3; }
    @include for-tablet-portrait-up { margin-top: $font-size-base * 3; }
    @include for-tablet-landscape-up { margin-top: 0; }

    p {
      font-size: 0.95em;

      a {
        font-size: 0.9em;
      }
    }
  }
}

/*
    Footer section
*/
footer {
  @include pattern(bottom, $url-CL-pattern-diamonds);
  background-color: $color-primary-darker;
}

section.footer {
  padding-top: calc(60px + 8vw);
  font-family: $font-calibre;
  color: $color-white-trans;

  .footer--credits {
    display: grid;
    width: 100%;
    padding-bottom: calc(60px + 8vw);

    @include for-tablet-portrait-up {
      grid-template-rows: auto
                          auto;
      grid-template-columns: 1fr 560px 1fr;
      grid-template-areas:  'margin-l   main    margin-r'
                            'margin-l   aside   margin-r';
    }

    @include for-tablet-landscape-up {
      grid-template-columns: 560px minmax(80px, 1fr) minmax(170px, 260px);
      grid-template-areas: 'main gutter-m aside';
    }

    main {
      grid-area: main;

      @include for-tablet-portrait-up {

      }

      @include for-tablet-landscape-up {
        display: flex;
        align-items: center;
      }

      .footer--credits--title {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .footer--credits--title--prefix {
          margin-right: 0.25em;
        }

        a {
          display: flex;
          align-items: center;
          filter: drop-shadow(transparent 0 0 0px);
          transition: filter 0.1s ease;

          &:hover {
            filter: drop-shadow($color-CL-primary 0 0 30px);
          }

          &:hover .footer--credits--title--suffix {
            margin-bottom: -0.125em;
            border-bottom: 0.125em $color-accent-brighter solid;
            color: $color-white;
          }
          
          &:hover .footer--credits--title--clrhs-logo {
            opacity: $opacity-full;
          }

          .footer--credits--title--suffix {
            margin-right: $font-size-base * 1.5;
            margin-bottom: -0.05em;
            border-bottom: $color-white-trans 0.05em solid;
            transition: color 0.1s ease;
          }

          .footer--credits--title--clrhs-logo {
            max-width: $font-size-base * 5;
            max-height: $font-size-base * 5;
            opacity: $opacity-primary;
            transition: opacity 0.1s ease;
          }
        }
      }
    }

    aside {
      grid-area: aside;
      display: flex;
      justify-content: space-between;

      @include for-tablet-portrait-up {
        margin-top: $font-size-base * 2;
      }

      @include for-tablet-landscape-up {
        min-height: $font-size-base * 8;
        flex-direction: column;
        margin-top: 0;
      }

      .footer--credits--member {
        font-size: 1.4em;
        letter-spacing: -0.03em;

        @include for-tablet-portrait-up {
          max-width: 260px;
        }

        @include for-tablet-landscape-up {
          display: unset;
          margin-bottom: $font-size-base * 1.5;
        }

        .footer--credits--member--principal {
          font-family: $font-circularPro;
        }
      }

      .footer--credits--authorized {
        font-size: 0.95em;

        @include for-tablet-portrait-up {
          max-width: 260px;
        }
      }
    }
  }

  .footer--btt {
    display: flex;
    margin: ($font-size-base * 2) 0;

    a {
      border-color: rgba(255, 255, 255, $opacity-tertiary);

      &:hover {
        border-color: transparent;
      }
    }
  }
  
  .footer--copyright {
    text-align: center;
    padding-bottom: $md;
    font-size: 0.85em;
    color: rgba(255, 255, 255, $opacity-tertiary);
  }
}
