/*-----------------------------*\
 *  VARIABLES
\*-----------------------------*/

/*
    Misc
*/
$font-size-base: 20px;

$opacity-full: 1;
$opacity-primary: 0.87;
$opacity-secondary: 0.54;
$opacity-tertiary: 0.23;
$opacity-none: 0;

/*
    Colors
*/
$color-primary: #009688;
$color-primary-brighter: #00e6cf;
$color-primary-darker: #004d45;

$color-accent: #d9264d;
$color-accent-brighter: #f20d3e;
$color-accent-darker: #6c1326;

$color-success: #187a27;
$color-failure: #f42011;

$color-light: #f7faff;
$color-grey: #d4d9e1;
$color-dark: #030509;

$color-white: rgba(255, 255, 255, $opacity-full);
$color-white-trans: rgba(255, 255, 255, $opacity-primary);
$color-black:rgba(0, 0, 0, $opacity-full);
$color-black-trans: rgba(0, 0, 0, $opacity-primary);

/*
    Breakpoints
*/
$brk-phone-vs-tablet-prtr: 600px;
$brk-tablet-prtr-vs-tablet-lnds: 900px;
$brk-tablet-lnds-vs-desktop: 1200px;
$brk-desktop-vs-big-desktop: 1800px;

@mixin for-phone-only {
  @media (max-width: $brk-phone-vs-tablet-prtr -1) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $brk-phone-vs-tablet-prtr) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $brk-tablet-prtr-vs-tablet-lnds) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: $brk-tablet-lnds-vs-desktop) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $brk-desktop-vs-big-desktop) { @content; }
}



/*-----------------------------*\
 *  TYPOGRAPHY
\*-----------------------------*/

// Actual font files are embedded as BASE64 in `fonts-woff[2].scss`

$font-calibre: Calibre,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans","Helvetica Neue", sans-serif;
$font-circularPro: Circular, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

h1 {
  margin-bottom: 0.66666em;
  font-family: $font-circularPro;
  font-size: $font-size-base * 3;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.3em;
}

  

/*-----------------------------*\
 *  UTILITIES
\*-----------------------------*/

.float-l { float: left;  }
.float-r { float: right; }

.x-space-between {
  display: flex;
  justify-content: space-between
}

.y-center {
  display: flex;
  align-items: center;
}

.ul-horizontal {
  list-style-type: none;
  
  li {
    display: inline;
  }
}

.padding-horiz-xs { padding-right: $font-size-base * 0.25;  padding-left: $font-size-base * 0.25;   }
.padding-horiz-sm { padding-right: $font-size-base * 0.5;   padding-left: $font-size-base * 0.5;    }
.padding-horiz-md { padding-right: $font-size-base * 1;     padding-left: $font-size-base * 1;      }
.padding-horiz-lg { padding-right: $font-size-base * 2;     padding-left: $font-size-base * 2;      }
.padding-horiz-xl { padding-right: $font-size-base * 4;     padding-left: $font-size-base * 4;      }

.padding-vert-xs  { padding-top: $font-size-base * 0.25;    padding-bottom: $font-size-base * 0.25; }
.padding-vert-sm  { padding-top: $font-size-base * 0.5;     padding-bottom: $font-size-base * 0.5;  }
.padding-vert-md  { padding-top: $font-size-base * 1;       padding-bottom: $font-size-base * 1;    }
.padding-vert-lg  { padding-top: $font-size-base * 2;       padding-bottom: $font-size-base * 2;    }
.padding-vert-xl  { padding-top: $font-size-base * 4;       padding-bottom: $font-size-base * 4;    }

.primary   { opacity: $opacity-primary;   }
.secondary { opacity: $opacity-secondary; }
.tertiary  { opacity: $opacity-tertiary;  }

.color-accent { color: $color-accent; }

.btn {
  display: inline-block;
  padding: ($font-size-base * 0.7) ($font-size-base * 1.4) ($font-size-base * 0.7) ($font-size-base * 1.4);
  border-radius: 50px;
  font-family: $font-calibre;
  font-size: $font-size-base * 0.7;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--outline {
  border: 1px solid rgba(255, 255, 255, $opacity-tertiary);
  transition: border 0.1s ease;
  transition: background-color 0.1s ease;
}

.btn--outline:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, $opacity-tertiary);
  color: $color-white;
}

.btn--accent {
  background-color: $color-accent;
  color: $color-white;
  transition: background-color 0.1s ease;
}

.btn--accent:hover {
  background-color: $color-accent-brighter;
  color: $color-white;
}



/*-----------------------------*\
 *  GLOBAL RULES
\*-----------------------------*/

* {
  margin: 0;
  padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a, 
h5 a,
h6 a,
p a {
  border-bottom: $color-white-trans 0.05em solid !important;
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
  transition: color 0.1s ease;
  transition: border 0.1s ease;
}

a:not(.no-link-style):not(.btn) {
  margin-bottom: -0.1em; // counters the border-bottom offsetting
  border-bottom: 0.1em transparent solid;
  transition: color 0.1s ease;
  transition: border-color 0.15s ease;
}

a:not(.no-link-style):not(.btn):hover {
  border-bottom: 0.1em $color-accent-brighter solid !important;
  color: $color-white;
}

.current a {
  border-bottom: 0.125em solid;
}

.product-name {
  font-family: $font-circularPro;
  letter-spacing: 0;
}



/*-----------------------------*\
 *  PRODUCT PAGE
\*-----------------------------*/

/*
    Overall layout
*/
body {
  font-size: $font-size-base;

  header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    // background-image: linear-gradient(-30deg, $color-primary 0%, $color-primary-brighter 80%); // default bleu
    // background-image: linear-gradient(-30deg, $color-primary 0%, #6694af 80%); // brighter default bleu
    background-image: linear-gradient(-30deg, #fff 0%, $color-primary 60%); // terquose with default bleu
    // background-image: linear-gradient(-30deg, #243949 0%, #517fa4 100%); // deheued bleu, better than mine
    // background-image: linear-gradient(-30deg, #d7d2cc 0%, #304352 100%); // silver powah
    // background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); // moshy pastel grayz
    // background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); // self-respec
    // background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); // hip pink-purp
    // background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); // dusk blue-purplez

    // background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    // background-blend-mode: multiply,multiply; // grey globe on links
  }

  section {
    display: grid;
    grid-template-columns:
        1fr 
        minmax($font-size-base, auto)
        minmax($brk-tablet-prtr-vs-tablet-lnds - $font-size-base * 2, $brk-tablet-lnds-vs-desktop)
        minmax($font-size-base, auto)
        1fr;
    grid-template-areas: 'gutter-l pad-l content pad-r gutter-r';
  }

  section > * {
    grid-area: content;
  }
}

/*
    Navnar section
*/
section.navbar {
  height: $font-size-base * 3;
  font-family: $font-calibre;
  font-size: 0.9em;
  color: $color-white-trans;

  .navbar--brand {
    img {
      margin-right: 0.25em;
      opacity: 0.9; // TODO delete when placeholder img is deleted
      filter: hue-rotate(155deg); // TODO delete when placeholder img is deleted
      transition: filter 0.1s ease;
    }

    span {
      margin-bottom: -0.1em;
      border-bottom: 0.1em transparent solid;
      transition: color 0.1s ease;
      transition: border-color 0.15s ease;
    }

    a:hover span {
      border-bottom: 0.1em $color-accent-brighter solid;
      color: $color-white;
    }
  }

  .navbar--main-links a {
    padding: 0.5em 1em 0.5em 1em;
  }

  a {
    text-decoration: none;
  }
}

/*
    Hero section
*/
section.hero {
  color: $color-white;

  .hero--copy {
    z-index: 6;
    width: $brk-phone-vs-tablet-prtr;
    
      .hero--copy--descr {
        margin-bottom: 2em;
        font-family: $font-calibre;
        font-size: 1.1em;
        line-height: 1.15em;
      }

      .btn {
        font-size: 0.8em;
      }
  }

  .js-polyhedron-container {
    z-index: 3;
    position: relative;

    @include for-tablet-portrait-up {
      right: -50vw;
      bottom: -30vh;
      width: 800px;
      height: 800px;
    }
  }

  .js-polyhedron-container:before {
    content: "";
    z-index: 4;
    display:block;
    position: absolute;
    width: 600px;
    height: 600px;
    margin-top: calc((800px - 600px)/2);
    margin-left: calc((800px - 600px)/2);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, $opacity-primary);
    filter: blur(110px);
  }
}
